{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main>
    <div>
        <h1 class="text-center text-uppercase">Hello World</h1>
        <h2 class="text-end text-lowercase"> Second</h2>
        <h3 class="text-end text-capitalize">поліна мицик привіт</h3>

        <hr>

        <div class="display-1">Hello World</div>
        <div class="display-5">Second</div>
        <div class="display-6">Поліна Мицик - крутий слаймер</div>

        <hr>
        <div class="text-muted text-end">
            Додатковий <span class="display-6">текст</span>
        </div>
        <hr>
        <div>
            <button class="btn btn-primary">
                <span class="text-uppercase">button primary</span>
            </button>

            <a href="#" class="btn btn-primary">
                button primary
            </a>

            <div class="card">
                <div class="card-body">
                    <p class="text-primary">My text</p>
                    <p class="text-success">My text</p>
                    <p class="text-muted">My text</p>
                </div>
            </div>


            <br>
            <br>
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-outline-primary btn-lg">My button</button>
                    <button class="btn btn-outline-secondary btn-sm">Edit</button>
                    <button class="btn btn-outline-danger">Delete</button>
                </div>
            </div>
            <br>
            <br>
            <div class="card">
                <div class="card-body">
                    This is content
                </div>
            </div>
            <br>
            <br>

            <div class="card">
                <div class="card-body">
                    <button class="btn btn-outline-primary btn-lg">My button</button>
                    <button class="btn btn-outline-secondary btn-sm">Edit</button>
                    <button class="btn btn-outline-danger">Delete</button>
                </div>
            </div>

        </div>







    </div>
</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}