{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main class="p-5">

    {{!-- <h2>Lesson 1</h2>
    <h1 class="text-center text-uppercase">Hello World</h1>
    <h2 class="text-end text-lowercase"> Second</h2>
    <h3 class="text-end text-capitalize">поліна мицик привіт</h3>

    <hr>

    <div class="display-1">Hello World</div>
    <div class="display-5">Second</div>
    <div class="display-6">Поліна Мицик - крутий слаймер</div>

    <hr>
    <div class="text-muted text-end">
        Додатковий <span class="display-6">текст</span>
    </div>
    <hr>
    <div>
        <button class="btn btn-primary">
            <span class="text-uppercase">button primary</span>
        </button>

        <a href="#" class="btn btn-primary">
            button primary
        </a>

        <div class="card">
            <div class="card-body">
                <p class="text-primary">My text</p>
                <p class="text-success">My text</p>
                <p class="text-muted">My text</p>
            </div>
        </div>


        <br>
        <br>
        <div class="card">
            <div class="card-body">
                <button class="btn btn-outline-primary btn-lg">My button</button>
                <button class="btn btn-outline-secondary btn-sm">Edit</button>
                <button class="btn btn-outline-danger">Delete</button>
            </div>
        </div>
        <br>
        <br>
        <div class="card">
            <div class="card-body">
                This is content
            </div>
        </div>
        <br>
        <br>

        <div class="card">
            <div class="card-body">
                <button class="btn btn-outline-primary btn-lg">My button</button>
                <button class="btn btn-outline-secondary btn-sm">Edit</button>
                <button class="btn btn-outline-danger">Delete</button>
            </div>
        </div>
    </div>

    <div class="row">
        <section class="col-12 gy-4">
            <div>
                <h2>Lesson 2</h2>
                <br>
                <br>

                <div class="card text-bg-dark">
                    <img src="https://picsum.photos/id/91/400/200.jpg" alt="Product photos">
                    <div class="card-body">
                        <h5 class="card-title text-bg-primary">Product #1</h5>
                        <p class="text-bg-secondary">Product name and product description</p>
                        <a href="/summary" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-3">
            <div>
                <div class="card">
                    <div class="card-header">
                        <div class="display-6">Menu</div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/">Home page</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/summary">Summary page</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/skills">Skills page</a>
                        </li>
                    </ul>
                    <div class="card-footer">
                        <button class="btn btn-dark btn-sm">Update list</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-9">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#id</th>
                        <th>name</th>
                        <th>age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</td>
                        <td>John </td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <th>2</td>
                        <td>Igor</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <th>3</td>
                        <td>Ivan</td>
                        <td>30</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="col-12">
            <div class="row g-2">
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>this is content of our box</p>
                            <button class="btn btn-light">Click!</button>

                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-light">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>this is content of our box</p>
                            <button class="btn btn-light">Click!</button>

                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-warning">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>this is content of our box</p>
                            <button class="btn btn-light">Click!</button>

                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-warning">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>this is content of our box</p>
                            <button class="btn btn-light">Click!</button>

                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
            </div>

        </section> --}}

        <div class="row">
            <div class="col-12 mb-5">
                <div class="nav nav-tabs">

                    <div class="nav-item">
                        <a href="#" class="nav-link active">Main</a>
                    </div>

                    <div class="nav-item">
                        <a href="#" class="nav-link">Catalog</a>
                    </div>

                    <div class="nav-item">
                        <a href="#" class="nav-link">Shop List</a>
                    </div>

                </div>
            </div>
            <div class="col-5 pe-5">
                <div class="card">
                    <div class="pt-4 pb-2 px-4">
                        <div class="nav flex-column">
                            <div class="nav-item mb-3">
                                <div class="card">
                                    <a href="/summary" class="nav-link"> Link</a>
                                </div>
                            </div>

                            <div class="nav-item mb-2">
                                <div class="card">
                                    <a href="/skills" class="nav-link"> Home</a>
                                </div>
                            </div>

                            <div class="nav-item mb-2">
                                <div class="card">
                                    <a href="#" class="nav-link"> Catalog</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-7">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">PC $ note</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">MAC</a>
                            </li>
                        </ol>

                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary rounded-pill m-5">Click</button>
                        <div class="alert alert-dark">
                            <h6 class="mb-2">Hello World <span
                                    class="badge text-bg-warning rounded-pill text-uppercase">Топ
                                    продаж</span></h6>

                            <p class="m-0">test</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        {{!-- <ul class="list-group">
            <li class="list-group-item">Item 1</li>
            <li class="list-group-item">Item 2</li>
            <li class="list-group-item">Item 3</li>
        </ul>
        <br>
        <br>
        <br>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/">Home page</a>
            </li>
            <li class="list-group-item">
                <a href="/summary">Summary page</a>
            </li>
            <li class="list-group-item">
                <a href="/skills">Skills page</a>
            </li>
        </ul>
        <br>
        <br>
        <br>
        <div>
            <div class="card">
                <div class="card-header">
                    <div class="display-6">Menu</div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/">Home page</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/summary">Summary page</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/skills">Skills page</a>
                    </li>
                </ul>
                <div class="card-footer">
                    <button class="btn btn-dark btn-sm">Update list</button>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#id</th>
                    <th>name</th>
                    <th>age</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</td>
                    <td>John </td>
                    <td>30</td>
                </tr>
                <tr>
                    <th>2</td>
                    <td>Igor</td>
                    <td>30</td>
                </tr>
                <tr>
                    <th>3</td>
                    <td>Ivan</td>
                    <td>30</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <p>this is content of our box</p>
                <button class="btn btn-light">Click!</button>

            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        <br>
        <br>
        <br>
        <div class="row gx-5 gy-1">
            <div class="col-4">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center">
                        <h6 class="card-title">This is title</h6>
                        <p>this is content of our box</p>
                        <button class="btn btn-light">Click!</button>

                    </div>
                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-bg-light">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center">
                        <h6 class="card-title">This is title</h6>
                        <p>this is content of our box</p>
                        <button class="btn btn-light">Click!</button>

                    </div>
                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-bg-warning">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center">
                        <h6 class="card-title">This is title</h6>
                        <p>this is content of our box</p>
                        <button class="btn btn-light">Click!</button>

                    </div>
                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-bg-warning">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center">
                        <h6 class="card-title">This is title</h6>
                        <p>this is content of our box</p>
                        <button class="btn btn-light">Click!</button>

                    </div>
                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-bg-warning">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center">
                        <h6 class="card-title">This is title</h6>
                        <p>this is content of our box</p>
                        <button class="btn btn-light">Click!</button>

                    </div>
                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>

        </div> --}}
    </div>


</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}